colorama==0.4.3
cycler==0.10.0
Cython==0.29.14
decorator==4.4.1
docopt==0.6.2
gitdb2==2.0.6
GitPython==3.0.5
imageio==2.6.1
jsonpickle==1.2
kiwisolver==1.1.0
matplotlib==3.1.2
munch==2.5.0
networkx==2.4
numpy==1.18.1
packaging==20.1
Pillow==8.1.1
py-cpuinfo==5.0.0
pyparsing==2.4.6
python-dateutil==2.8.1
PyWavelets==1.1.1
PyYAML==5.3
sacred==0.8.1
scikit-image==0.16.2
scipy==1.4.1
six==1.14.0
smmap2==2.0.5
wrapt==1.11.2
